.root {
    display: flex;
    background-color: var(--primary);
    color: white;
    padding: 0.25rem 0.5rem;
    align-items: center;
}

.heading {
    font-size: 1.1rem;
    padding: 0 0.25rem;
}

.right {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.right > * {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}

.icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

.disconnectedIcon * {
    fill: red;
}

.connectedIcon * {
    fill: lightgreen;
}

.separator {
    width: 1px;
    margin: 0.25rem 0.125rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdownWrapper {
    position: relative;
}