---
const { tutorial, test } = Astro.props;

console.log("tutorial", tutorial, test);
---
<main></main>
<script>
  import { render } from "../lib/render.tsx";
  import { init } from "../lib/init.js";

  // to initialize dom elements
  render();

  // to initialize delegation listeners and what not
  init();
</script>
