---
import '../ui/editor-theme.css'
import '../ui/globals.scss'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Haxidraw editor!" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/prism.css" />
    <title>Blot | {title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
