---
import '../ui/globals.scss'
import Navbar from '../components/Navbar.astro'
import Meta from '../components/Meta.astro'

export interface Props {
  title?: string
  description?: string | undefined
  navbar?: boolean | undefined
  loginLink?: boolean | undefined
}

let { navbar, loginLink } = Astro.props
navbar = navbar || false
loginLink = loginLink === undefined ? true : loginLink
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Meta {...Astro.props} />
  </head>
  <body>
    {navbar === true ? <Navbar loginLink={loginLink} /> : null}
    <slot />
  </body>
</html>
