---
import '../ui/globals.scss'
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string | undefined
  description: string | undefined
}

let { title, description } = Astro.props
title = title || 'Blot'
description = description || 'Blot editor!'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/prism.css" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar/>
    <main>
      <slot />
    </main>
  </body>
</html>
