@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=JetBrains+Mono:ital@0;1&display=swap');

:root {
  --primary: #33e;
  --primary-rgb: 51, 51, 238;
  --text: #000;
  --text-rgb: 0, 0, 0;
  --background: #fff;
  --background-rgb: 255, 255, 255;
  --muted: #e5e5e5;
  --muted-rgb: 229, 229, 229;
  --accent: #f0f;
  --accent-rgb: 255, 0, 255;
  --accent-dark: #900090;
  --accent-dark-rgb: 144, 0, 144;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
  --font-mono: monospace;

  --font-0: 1rem;
  --font-1: 1.125rem;
  --font-2: 1.25rem;
  --font-3: 1.5rem;
  --font-4: 2rem;
  --font-5: 3rem;
  --font-6: 4rem;
  --font-7: 6rem;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-0);
  min-height: 100vh;
  margin: 0;
}

body[data-theme='Dark'] {
  --background: #292d30;
  --background-rgb: 41, 45, 48;
  --text: #fff;
  --text-rgb: 255, 255, 255;
  background-color: var(--background);
}

* {
  font-family: inherit;
  box-sizing: border-box;
}
