@import './variables.scss';

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Alegreya Italic';
  src: url('/fonts/Alegreya-ItalicVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
}

:root {
  --serif: 'Alegreya', serif;
  --sans-serif: 'Inter', sans-serif;
  --mono: 'JetBrains Mono', 'IBM Plex Mono', 'Menlo', monospace;

  --font-serif: 'Alegreya', serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', 'IBM Plex Mono', 'Menlo', monospace;

  --background: #f8f6f3;
  --dark-background: #404040;
  --primary: #33e;
  --primary-rgb: 51, 51, 238;
  --text: #000;
  --text-rgb: 0, 0, 0;
  --background: #fff;
  --background-rgb: 255, 255, 255;
  --muted: #e5e5e5;
  --muted-rgb: 229, 229, 229;
  --accent: #f0f;
  --accent-rgb: 255, 0, 255;
  --accent-dark: #900090;
  --accent-dark-rgb: 144, 0, 144;

  --font-0: 1rem;
  --font-1: 1.125rem;
  --font-2: 1.25rem;
  --font-3: 1.5rem;
  --font-4: 2rem;
  --font-5: 3rem;
  --font-6: 4rem;
  --font-7: 6rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: var(--serif);
  margin: 0;
  overflow-x: clip;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  --astro-code-color-text: black;
  --astro-code-token-keyword: #00c;
  --astro-code-token-function: #167;
  --astro-code-token-constant: #708;
}

body[data-theme='dark'] {
  --astro-code-color-text: white;
  --astro-code-token-keyword: #fda331;
  --astro-code-token-function: #6fb3d2;
  --astro-code-token-constant: #b5bd68;
}

button,
input,
textarea {
  outline: 0;
}

code,
pre {
  font-family: var(--mono);
}

.button {
  background-color: var(--primary);
  border-radius: 20px;
  font-family: var(--sans-serif);
  color: white;
  cursor: pointer;
  padding: 7px 12px;
  width: fit-content;

  > * {
    color: white !important;
  }
}

.lucide-icon {
  vertical-align: text-bottom;
  font-size: inherit;
}

.prose {
  font-size: 1.5rem;
  line-height: 1.6;
  overflow-x: auto;

  blockquote {
    border-left: 1px solid;
    padding-left: 1em;
  }

  a {
    color: var(--primary);
    transition: 0.1s all;

    &:hover {
      opacity: 0.9;
    }
  }

  hr {
    border-top: 1px solid #ddd;
    color: transparent;
    height: 1px;
  }

  img {
    max-width: 100%;
  }

  code,
  pre {
    font-size: 1.2rem;
  }

  pre {
    border: 1px solid #ddd;
    padding: 1rem;
  }

  li p {
    margin: 0;
  }

  table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    max-width: 100%;
    table-layout: fixed;
    width: 100%;

    tr {
      border-bottom: 1px solid #ddd;
    }

    td,
    th {
      padding: 0.995rem;
      border: 1px solid #ddd;
    }
  }

  &.sm {
    font-size: 1.2rem !important;

    code,
    pre {
      font-size: 0.995rem !important;
    }
  }

  &.xs {
    font-size: 1.1rem !important;

    code,
    pre {
      font-size: 0.995rem !important;
    }
  }

  @media screen and (max-width: $md) {
    font-size: 1.3rem;
  }
}

body[data-theme='dark'] .prose {
  a {
    color: white;
  }
}

#navbar-dropdown {
  background-color: var(--primary);
  color: white;
  font-size: 1.3rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar-dropdown-button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  .navbar-dropdown-content {
    display: none;
    padding: 0.995rem 0;
  }

  .navbar-links a {
    margin-bottom: 0.995rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
  }

  h1 {
    margin: 0;
  }

  @media screen and (min-width: $md) {
    display: none;
  }
}

#navbar {
  background-color: var(--primary);
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 0 1rem;
  position: relative;
  z-index: 999;
  display: flex;

  @media screen and (max-width: $md) {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }
}

.navbar-links {
  font-family: var(--sans-serif);
  letter-spacing: -1px;
  display: flex;
  gap: 14px;

  button {
    letter-spacing: -1px;
  }

  svg {
    vertical-align: text-top;
    margin-right: 2px;
  }

  &.no-gap {
    gap: 0;
  }
}
