@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&family=JetBrains+Mono&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #f8f6f3;
  --primary: #33e;
  --primary-rgb: 51, 51, 238;
  --text: #000;
  --text-rgb: 0, 0, 0;
  --background: #fff;
  --background-rgb: 255, 255, 255;
  --muted: #e5e5e5;
  --muted-rgb: 229, 229, 229;
  --accent: #f0f;
  --accent-rgb: 255, 0, 255;
  --accent-dark: #900090;
  --accent-dark-rgb: 144, 0, 144;
  --font-sans: 'Atkinson Hyperlegible', sans-serif;
  --font-serif: 'PT Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;

  --font-0: 1rem;
  --font-1: 1.125rem;
  --font-2: 1.25rem;
  --font-3: 1.5rem;
  --font-4: 2rem;
  --font-5: 3rem;
  --font-6: 4rem;
  --font-7: 6rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background);
  margin: 0;
  overflow-x: clip;
  padding: 0;
  scroll-behavior: smooth;
}

code,
pre {
  font-family: var(--font-mono);
}

body[data-theme='Light'],
body:not([data-theme]) {
  /* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-coy&languages=clike+javascript */
  code[class*='language-'],
  pre[class*='language-'] {
    color: #000;
    background: 0 0;
    font-family: var(--font-mono);
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  pre[class*='language-'] {
    position: relative;
    margin: 0.5em 0;
    overflow: visible;
    padding: 1px;
  }
  pre[class*='language-'] > code {
    position: relative;
    z-index: 1;
    border-left: 10px solid #358ccb;
    box-shadow:
      -1px 0 0 0 #358ccb,
      0 0 0 1px #dfdfdf;
    background-color: #fdfdfd;
    background-image: linear-gradient(
      transparent 50%,
      rgba(69, 142, 209, 0.04) 50%
    );
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local;
  }
  code[class*='language-'] {
    max-height: inherit;
    height: inherit;
    padding: 0 1em;
    display: block;
    overflow: auto;
  }
  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background-color: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  :not(pre) > code[class*='language-'] {
    position: relative;
    padding: 0.2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
  }
  pre[class*='language-']:after,
  pre[class*='language-']:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    max-height: 13em;
    box-shadow: 0 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  pre[class*='language-']:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  .token.block-comment,
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: #7d8b99;
  }
  .token.punctuation {
    color: #5f6364;
  }
  .token.boolean,
  .token.constant,
  .token.deleted,
  .token.function-name,
  .token.number,
  .token.property,
  .token.symbol,
  .token.tag {
    color: #c92c2c;
  }
  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.function,
  .token.inserted,
  .token.selector,
  .token.string {
    color: #2f9c0a;
  }
  .token.entity,
  .token.operator,
  .token.url,
  .token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
  }
  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.keyword {
    color: #1990b8;
  }
  .token.important,
  .token.regex {
    color: #e90;
  }
  .language-css .token.string,
  .style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
  }
  .token.important {
    font-weight: 400;
  }
  .token.bold {
    font-weight: 700;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
  .token.namespace {
    opacity: 0.7;
  }
  @media screen and (max-width: 767px) {
    pre[class*='language-']:after,
    pre[class*='language-']:before {
      bottom: 14px;
      box-shadow: none;
    }
  }
  pre[class*='language-'].line-numbers.line-numbers {
    padding-left: 0;
  }
  pre[class*='language-'].line-numbers.line-numbers code {
    padding-left: 3.8em;
  }
  pre[class*='language-'].line-numbers.line-numbers .line-numbers-rows {
    left: 0;
  }
  pre[class*='language-'][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  pre[data-line] code {
    position: relative;
    padding-left: 4em;
  }
  pre .line-highlight {
    margin-top: 0;
  }
}

body[data-theme='Dark'] {
  /* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript */
  code[class*='language-'],
  pre[class*='language-'] {
    color: #fff;
    background: 0 0;
    font-family: var(--font-mono);
    font-size: 1em;
    text-align: left;
    text-shadow: 0 -0.1em 0.2em #000;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #141414;
  }
  pre[class*='language-'] {
    border-radius: 0.5em;
    border: 0.3em solid #545454;
    box-shadow: 1px 1px 0.5em #000 inset;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
  }
  pre[class*='language-']::-moz-selection {
    background: #27292a;
  }
  pre[class*='language-']::selection {
    background: #27292a;
  }
  code[class*='language-'] ::-moz-selection,
  code[class*='language-']::-moz-selection,
  pre[class*='language-'] ::-moz-selection,
  pre[class*='language-']::-moz-selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
  }
  code[class*='language-'] ::selection,
  code[class*='language-']::selection,
  pre[class*='language-'] ::selection,
  pre[class*='language-']::selection {
    text-shadow: none;
    background: hsla(0, 0%, 93%, 0.15);
  }
  :not(pre) > code[class*='language-'] {
    border-radius: 0.3em;
    border: 0.13em solid #545454;
    box-shadow: 1px 1px 0.3em -0.1em #000 inset;
    padding: 0.15em 0.2em 0.05em;
    white-space: normal;
  }
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: #777;
  }
  .token.punctuation {
    opacity: 0.7;
  }
  .token.namespace {
    opacity: 0.7;
  }
  .token.boolean,
  .token.deleted,
  .token.number,
  .token.tag {
    color: #ce6849;
  }
  .token.builtin,
  .token.constant,
  .token.keyword,
  .token.property,
  .token.selector,
  .token.symbol {
    color: #f9ed99;
  }
  .language-css .token.string,
  .style .token.string,
  .token.attr-name,
  .token.attr-value,
  .token.char,
  .token.entity,
  .token.inserted,
  .token.operator,
  .token.string,
  .token.url,
  .token.variable {
    color: #909e6a;
  }
  .token.atrule {
    color: #7385a5;
  }
  .token.important,
  .token.regex {
    color: #e8c062;
  }
  .token.bold,
  .token.important {
    font-weight: 700;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
  .language-markup .token.attr-name,
  .language-markup .token.punctuation,
  .language-markup .token.tag {
    color: #ac885c;
  }
  .token {
    position: relative;
    z-index: 1;
  }
  .line-highlight.line-highlight {
    background: hsla(0, 0%, 33%, 0.25);
    background: linear-gradient(
      to right,
      hsla(0, 0%, 33%, 0.1) 70%,
      hsla(0, 0%, 33%, 0)
    );
    border-bottom: 1px dashed #545454;
    border-top: 1px dashed #545454;
    margin-top: 0.75em;
    z-index: 0;
  }
  .line-highlight.line-highlight:before,
  .line-highlight.line-highlight[data-end]:after {
    background-color: #8693a6;
    color: #f4f1ef;
  }
}
