---
import Layout from '../layouts/Layout.astro'
const assembly = (await Astro.glob('/../docs/ASSEMBLY.md'))[0]
const { Content } = assembly
const headings = assembly.getHeadings()

export const prerender = true
---

<Layout
  title="Blot | Assembly"
  description="How to assemble your Blot."
  navbar={true}>
  <style lang="scss" is:global>
    @import '../ui/variables.scss';

    header {
      font-size: 2rem;
      letter-spacing: -4px;
      line-height: 1;
      padding: 3rem 2rem;
      background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
        linear-gradient(to bottom, #ddd 1px, transparent 1px);
      background-size: 40px 40px;
      box-shadow: inset 0 4px 8px 8px rgba(0, 0, 0, 0.1);
      margin: auto;
      text-align: center;

      h1 {
        margin: 0;
      }

      @media screen and (min-width: $lg) {
        font-size: 3rem;
      }
    }

    #article {
      margin: 1rem auto;
      gap: 2rem;
      position: relative;
      max-width: 100vw;

      @media screen and (max-width: $lg) {
        padding: 0 1rem;
      }

      @media screen and (min-width: $md) {
        display: flex;
        width: fit-content;
      }
    }

    #toc {
      font-family: var(--sans-serif);
      top: 0;
      align-self: flex-start;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 500;
      }

      h3 {
        margin: 0.75rem 0;
      }

      a {
        color: var(--primary);
        text-decoration: none;
      }

      @media screen and (min-width: $lg) {
        width: 15vw;
        position: sticky;
        top: 0;
      }
    }

    #toc-contents {
      color: #404040;
      text-transform: uppercase;
      font-size: 1.35rem;
      border-bottom: 1px solid;
      margin-top: 2rem;
    }

    .prose {
      @media screen and (min-width: $lg) {
        max-width: 50vw;
      }
    }
  </style>
  <header>
    <h1>Assembly</h1>
  </header>
  <main id="article">
    <div id="toc">
      <h1 id="toc-contents">Contents</h1>
      {
        headings.map((heading, idx) => (
          <h3>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </h3>
        ))
      }
    </div>
    <article class="prose">
      <Content />
      <footer>
        <a href={`https://github.com/hackclub/blot/edit/main/.md`}
          >Make an edit</a
        >
      </footer>
    </article>
  </main>
</Layout>
