---
import BackgroundFull from '../components/landing/BackgroundFull.astro'

---

<style>
  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
  }
</style>

<div id="video-container">
    <video id="myVideo" width="100%" autoplay muted>
        <source src="/landing/output-movie.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>