---
import EditorLayout from '../layouts/EditorLayout.astro'
import Editor from '../layouts/Editor.astro'
---

<EditorLayout title="Editor" description="Editor">
  <main>
    <Editor/>
  </main>
</EditorLayout>



