---
import Layout from '../layouts/Layout.astro';
import Editor from '../Editor.tsx';
import EditorLayout from "../layouts/EditorLayout.astro";

export const prerender = false

const files = await Astro.glob('/../guides/*.md')

const query = Astro.url.searchParams.get("tutorial")!

let tutorial = undefined

if (query)
	files.map(file => {
		if (file.file.endsWith(query + ".md")) tutorial = file
	})

if (tutorial) tutorial = {...tutorial, content: tutorial.compiledContent()}
---

<EditorLayout title="Editor" description="Editor">
	<main>
		<Editor client:load tutorial={tutorial}></Editor>
	</main>
</EditorLayout>
