---
import '../css/global.css'
import StandardHead from '../components/standard-head.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <StandardHead title={"Editor"}  description={"Editor"}/>
  </head>
  <body>
    <main></main>
    <script src="../lib/initApp.js"></script>
  </body>
</html>
