---
import EditorLayout from '../layouts/EditorLayout.astro'
import Editor from '../layouts/Editor.astro'
---
<head>
  
  <!-- Prism CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet" />

  <!-- Prism JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>

</head>

<EditorLayout title="Editor" description="Editor">
  <main>
    <Editor />
  </main>
</EditorLayout>
