---
import Layout from '../layouts/Layout.astro'
import { slug } from '../lib/guide.ts'

const list = (await Astro.glob('/../art/list.json'))[0].default
let art = {}
list.map(folder => {
  folder.snapshots.map(snapshot => {
    art[snapshot] = { folder: folder.directory, source: folder.source }
  })
})

const images = (await Astro.glob('/../art/*/snapshots/*')).map(
  img => img.default
)

const random = (min: number, max: number) =>
  Math.floor(Math.random() * (max - min)) + min

export const prerender = false
---

<!-- 
<script src="/masonry.min.js" type="module"></script>

<script>
  window.onload = () => {
    new Masonry(document.getElementById('gallery'), {
      itemSelector: '.frame',
      percentPosition: true
    })
  }
</script> 
-->
<style is:global lang="scss">
  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
  }

  #container {
    margin: 0 auto;
  }

  #gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #content {
    font-size: 1.1rem;
    font-family: var(--font-sans);
  }

  .frame {
    padding: 0;
    margin: 0.5rem;
    border: solid 15px #555;
    box-shadow: -3px -3px 12px #999;
    max-width: 30%;
    max-height: 30vh;
    float: left;
    margin-bottom: 1rem;
    z-index: 1;
    display: flex;
    align-items: center; /* centers vertically */
    justify-content: center; /* centers horizontally */
    overflow: hidden; /* ensures nothing overflows outside the frame */
    transition: all 0.2s;

    &:hover {
      transform: scale(101%);
    }
  }

  img {
    max-width: 100%;
    max-height: 25vh;
    object-fit: contain; /* ensures the image maintains aspect ratio and scales within the container */
    border: 1px solid #aaa;
  }

  .border {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    padding: 2rem 0;
    margin: 0;
    border: solid 40px white;
    box-shadow: -3px -3px 12px #999;
  }

  .description {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    letter-spacing: -1px;
  }
</style>

<Layout
  title="Gallery"
  description="A gallery of various art pieces created by Hack Clubbers.">
  <div id="container">
    <div class="description">
    <h1 style={{ margin: 0 }}>Gallery</h1>
    <p style={{ margin: 0 }}>
      A gallery of various art pieces created by Hack Clubbers, with an
      interactive 3D gallery mode!
    </p>
    </div>
    <div id="gallery">
      {
        images.map(img => {
          return (
            <div class="frame">
              <a
                class="border"
                href={`/editor?src=https://raw.githubusercontent.com/hackclub/blot/main/art/${
                  art[slug(img)].folder
                }/${art[slug(img)].source}`}>
                <img class="thumbnail" alt={img.directory} src={img} />
              </a>
            </div>
          )
        })
      }
    </div>
  </div>
</Layout>
