---
import Layout from '../layouts/Layout.astro'
import { slug } from '../lib/guide.ts'

const list = (await Astro.glob('/../art/list.json'))[0].default
let art = {}
list.map(folder => {
  folder.snapshots.map(snapshot => {
    art[snapshot] = { folder: folder.directory, source: folder.source }
  })
})

const images = (await Astro.glob('/../art/*/snapshots/*')).map(
  img => img.default
)

const random = (min: number, max: number) =>
  Math.floor(Math.random() * (max - min)) + min

export const prerender = true
---

<script src="/masonry.min.js" type="module"></script>

<script>
  window.onload = () => {
    new Masonry(document.getElementById('gallery'), {
      itemSelector: '.framed'
    })
  }
</script>

<style is:global lang="scss">
  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
  }

  #container {
    margin: 2rem auto;
    width: 90vw;
  }

  #gallery {
    padding: 1rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  #content {
    font-size: 1.5rem;
    font-family: var(--font-sans);
  }

  .frame {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    float: left;
    border: solid 15px #555;
    max-width: 40vw;
    box-shadow: -3px -3px 12px #999;
  }

  .border {
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 70px white;
    box-shadow: -3px -3px 12px #999;

    img {
      display: block;
      width: 100%;
      border-top: solid 2px #aaa;
      border-left: solid 2px #aaa;
      border-bottom: solid 2px #ccc;
      border-right: solid 2px #ccc;
    }
  }
</style>

<Layout
  title="Gallery"
  description="A gallery of various art pieces created by Hack Clubbers.">
  <div id="container">
    <div id="gallery">
      <div class="framed" id="content">
        <h1 style={{ marginBottom: 0 }}>Gallery</h1>
        <p style={{ marginTop: 0 }}>
          A gallery of various art pieces created by Hack Clubbers, with an
          interactive gallery mode built in!
        </p>
      </div>
      {
        images.map(img => {
          return (
            <div class="frame">
              <div class="border">
                <a
                  href={`/editor?src=https://raw.githubusercontent.com/hackclub/blot/main/art/${
                    art[slug(img)].folder
                  }/${art[slug(img)].source}`}>
                  <img class="thumbnail" alt={img.directory} src={img} />
                </a>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</Layout>
