---
import Layout from '../layouts/Layout.astro'
import { marked } from 'marked'
import { description, slug } from '../lib/guide.ts'

const workshops = await Astro.glob('/../guides/*.md')

export const prerender = true
---

<!--
<script src="/masonry.min.js" type="module"></script>

<script>
  window.onload = () => {
    new Masonry(document.getElementById('gallery'), {
      itemSelector: '.frame'
    })
  }
</script>
-->
<style is:global lang="scss">
  @import '../ui/variables.scss';

  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
  }

  #container {
    margin: 0 auto;

    @media screen and (min-width: $lg) {
      width: 85vw;
    }
  }

  #gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #content {
    font-size: 1.5rem;
    font-family: var(--font-sans);
  }

  .frame {
    background: white;
    padding: 0;
    margin: 0.5rem;
    border: solid 15px #555;
    box-shadow: -3px -3px 12px #999;
    max-width: 30%;
    z-index: 1;
    transition: all 0.2s;

    &:hover {
      transform: scale(101%);
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
    border: 1px solid #aaa;
  }

  .border {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    margin: 0;
    border: solid 10px white;
    box-shadow: -3px -3px 12px #999;
  }

  .prose {
    background-color: white;
    font-size: 0.995rem;
    padding: 0 1rem;
    font-family: var(--font-serif);

    blockquote {
      margin-left: 0;
    }

    h2 {
      color: var(--primary);

      a {
        color: var(--primary);
        text-decoration: none;
      }
    }
  }

  .description {
    font-family: var(--font-serif);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    letter-spacing: -1px;
  }
</style>

<Layout
  title="Guides"
  description="A gallery of various guides created by Hack Clubbers.">
  <div id="container">
    <div class="description">
      <h1 style={{ margin: 0 }}>Guides</h1>
      <p style={{ marginTop: 0 }}>
        A gallery of various guides created by Hack Clubbers that anyone can
        learn from and contribute to!
      </p>
    </div>
    <div id="gallery">
      {
        workshops
          .sort((a, b) =>
            a.frontmatter.pinned ? -1 : b.frontmatter.pinned ? 1 : 0
          )
          .map(workshop => {
            return (
              <div class="frame">
                <div class="border">
                  <img class="thumbnail" src={workshop.frontmatter.thumbnail} />
                  <div class="prose">
                    <h2 style={{ marginBottom: 0 }}>
                      <a href={`/guide/${slug(workshop.file)}`}>
                        {workshop.frontmatter.title}
                      </a>
                    </h2>
                    <div
                      set:html={marked(description(workshop.rawContent()))}
                    />
                  </div>
                </div>
              </div>
            )
          })
      }
    </div>
  </div>
</Layout>
