---
import Layout from '../layouts/Layout.astro'
import { marked } from 'marked'
import { description, slug } from '../lib/guide.ts'

const workshops = await Astro.glob('/../guides/*.md')

export const prerender = true
---

<script src="/masonry.min.js" type="module"></script>

<script>
  window.onload = () => {
    new Masonry(document.getElementById('gallery'), {
      itemSelector: '.frame'
    })

    window.addEventListener('resize', () => {
      new Masonry(document.getElementById('gallery'), {
        itemSelector: '.frame'
      })
    })
  }
</script>

<style is:global lang="scss">
  @import '../ui/variables.scss';

  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
  }

  #container {
    margin: 0 auto;

    @media screen and (min-width: $lg) {
      width: 85vw;
    }
  }

  #gallery {
    padding: 1rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  #content {
    font-size: 1.5rem;
    font-family: var(--font-sans);
  }

  .frame {
    position: relative;
    padding: 0;
    margin: 0.5rem;
    float: left;
    border: solid 15px #555;
    max-width: 40vw;
    box-shadow: -3px -3px 12px #999;
    text-decoration: none;
    font-family: var(--font-serif);
  }

  .border {
    background-color: white;
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 70px white;
    border-bottom-width: 20px;
    box-shadow: -3px -3px 12px #999;

    img {
      display: block;
      width: 100%;
      border-top: solid 2px #aaa;
      border-left: solid 2px #aaa;
      border-bottom: solid 2px #ccc;
      border-right: solid 2px #ccc;
    }
  }

  .prose {
    background-color: white;
    padding-top: 1rem;
    font-size: 1.1rem;

    h2 {
      text-align: center;
      color: var(--primary);

      a {
        color: var(--primary);
        text-decoration: none;
      }
    }
  }
</style>

<Layout
  title="Guides"
  description="A gallery of various guides created by Hack Clubbers.">
  <div id="container">
    <div id="gallery">
      <div class="frame" id="content">
        <div class="border">
          <h1 style={{ margin: 0 }}>Guides</h1>
          <p style={{ marginTop: 0 }}>
            A gallery of various guides created by Hack Clubbers that anyone can
            learn from and contribute to!
          </p>
        </div>
      </div>
      {
        workshops
          .sort((a, b) =>
            a.frontmatter.pinned ? -1 : b.frontmatter.pinned ? 1 : 0
          )
          .map(workshop => {
            console.log(workshop)
            return (
              <div class="frame">
                <div class="border">
                  <img class="thumbnail" src={workshop.frontmatter.thumbnail} />
                  <div class="prose">
                    <h2 style={{ marginBottom: 0 }}>
                      <a href={`/guide/${slug(workshop.file)}`}>
                        {workshop.frontmatter.title}
                      </a>
                    </h2>
                    <div
                      set:html={marked(description(workshop.rawContent()))}
                    />
                  </div>
                </div>
              </div>
            )
          })
      }
    </div>
  </div>
</Layout>
