---
import Layout from '../layouts/Layout.astro'
import { slug } from '../lib/guide.ts'
const workshops = await Astro.glob('/../guides/*.md')

---

<style is:global>
  @import '../ui/variables.scss';

  body,
  html {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
      linear-gradient(to bottom, #ddd 1px, transparent 1px);
    min-height: 100vh;
    font-family: "Phantom Sans",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
  }

  .description {
    padding: .3rem;
    margin-left: 40px;
  }

  .guides-title {
    font-size: 3rem;
    font-weight: 700;
  }

  .guides-sub-title {
    font-size: 1.7rem;
    font-weight: 300;
  }

  .gallery {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    row-gap: 24px;
    margin: 20px 0; /* Added some vertical margin for better spacing */
  }

  .frame {
    text-decoration: none;
    color: inherit;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    aspect-ratio: 1;
    background-image: linear-gradient(169deg, #cecef9, #e7f0fb);
    border-radius: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 17px;
    box-shadow: 7px 6px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    &:hover { /* Hover effect */
      transform: scale(1.05); /* Slightly scales the frame up */
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); /* Brighter shadow on hover */
    }
  }

  .thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1rem;
    transition: opacity 0.3s ease; /* Smooth transition for hover effects */
    /* Make the thumbnail slightly less opaque on hover for a subtle effect */
    .frame:hover & {
      opacity: 0.9;
    }
  }

  .prose {
    padding: 10px;
  }


</style>

<Layout
  title="Guides"
  description="A gallery of various guides created by Hack Clubbers.">
  <div id="container">
    <div class="description">
      <div class="guides-title">Guides</div>
      <div class="guides-sub-title">
        A collection of various guides created by Hack Clubbers that anyone can
        learn from and contribute to!
      </div>
    </div>
    <div class="gallery">
      {
        workshops
          .sort((a, b) =>
            a.frontmatter.pinned ? -1 : b.frontmatter.pinned ? 1 : 0
          )
          .map(workshop => {
            return (
              <a class="frame" href={`/editor?guide=${slug(workshop.file)}`}>
                <img class="thumbnail" src={workshop.frontmatter.thumbnail} />
                <div class="prose">
                  {workshop.frontmatter.title}
                </div>
              </a>
            )
          })
      }
    </div>
  </div>
</Layout>
