
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

  :root {
    --primary: #33e;
    --primary-rgb: 51, 51, 238;
    --text: #000;
    --text-rgb: 0, 0, 0;
    --background: #fff;
    --background-rgb: 255, 255, 255;
    --muted: #e5e5e5;
    --muted-rgb: 229, 229, 229;
    --accent: #f0f;
    --accent-rgb: 255, 0, 255;
    --accent-dark: #900090;
    --accent-dark-rgb: 144, 0, 144;
    --font-body: "Atkinson Hyperlegible", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-0: 1rem;
    --font-1: 1.125rem;
    --font-2: 1.25rem;
    --font-3: 1.5rem;
    --font-4: 2rem;
    --font-5: 3rem;
    --font-6: 4rem;
    --font-7: 6rem;
  }

  html, body {
    margin: 0px;
    font-family: var(--font-body);
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .toolbar {
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 2.5rem;
  }

  .toolbar-right {
    display: flex;
  }

  .toolbar-item {
    all: unset;
    cursor: pointer;
    padding-left: .5rem;
    padding-right: .5rem;
    height: 100%;
    width: fit-content;
    border-radius: .2rem;
    display: flex;
    align-items: center;
  }

  .toolbar-item:hover {
    background: rgba(255,255,255,0.2); 
  }

  .toolbar-item:visited {
    all: unset;
  }

  .blot {
    display: flex;
    align-items: center;
    padding-left: .5rem;
  }

  .footer {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    background: #c5c5c5;
  }

  .footer-item:hover {
    background: rgba(0,0,0,0.2); 
  }

  .banner {
    flex: 1;
    background: #f2f2f100;
/*    background: #ffbb1d5c;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-around;
  }

  .banner-upper {

  }

  .banner-lower {
    display: flex;
    align-items: center;
  }

  .blot-bot {
    width: 70%;
  }

  .blot-title {
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 1rem;*/
    font-size: 4rem;
    font-family: "Tilt Prism",cursive;
/*    width: 100%;*/
    text-align: center;
  }

  .banner-text {
    font-family: "Phantom Sans",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    font-size: 1.2rem;
    padding-right: 5rem;
    font-weight: 400;
    letter-spacing: 0.009em;
    line-height: 1.25;
    align-self: baseline;
    padding-top: 5rem;
  }

  .banner-text a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #ec3750;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-underline-position: under;
  }

  .banner-text a:hover {
    text-decoration-style: wavy;
  }

  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

</style>

<main>
  <div class="toolbar">
    <div class="blot">
      <i class="fa-solid fa-splotch" style="padding-right: 10px"></i>
      Blot
    </div>
    <div class="toolbar-right">
      <a class="toolbar-item" href="/editor">
        <i class="fa-solid fa-pen-nib" style="padding-right: .5rem"></i>
        editor
      </a>

      <a class="toolbar-item">
        <i class="fa-solid fa-laptop-file" style="padding-right: .5rem"></i>
        workshops
      </a>

      <a class="toolbar-item">
        <i class="fa-solid fa-palette" style="padding-right: .5rem"></i>
        gallery
      </a>

      <a class="toolbar-item">
        <i class="fa-solid fa-arrows-to-dot" style="padding-right: .5rem"></i>
        assembly
      </a>
    </div>
  </div>
  <canvas id = "canvas"></canvas>

  <script>
    import lineclip from "../lib/lineclip.js";
    import runCode from "../lib/run.js";
    import { CodePosition, ErrorState, getStore, patchStore } from "../lib/state.ts";

    const canvas : HTMLCanvasElement = document.getElementById("canvas") as HTMLCanvasElement;
    const ctx = canvas.getContext("2d");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    ctx.fillStyle = "#000";

    const turtle = {"drawing":true,"position":[23.29042314884119,107.85884615966864],"angle":7826,"path":[[[62.96964708933757,62.5061900725191],[62.952194682900284,63.50603776767549],[60.9534130288621,63.436238774270485],[61.11042089759093,60.44035017000677],[65.10067709863023,60.719376064983265],[64.66489838489193,65.70034955544199],[58.69776701268229,65.07317877583608],[59.550852416518325,58.125355714346824],[67.47299696645088,59.23874052202735],[66.06508678108881,68.1279355873836],[56.21700925096674,66.3914538107143],[58.31590820010872,55.593554792789995],[70.0536794089144,58.08849508260307],[67.12931570244419,70.75530592481113],[53.545175534580224,67.3683993864158],[57.42746121111803,52.87951199207978],[72.80764834613113,57.289709685151756],[67.8373293658446,73.54689053652336],[50.71831207253183,67.98458463777436],[56.90410700721782,50.01973170138734],[75.69795942293601,56.86013456790069],[68.17223248248465,76.4653235243419],[47.774187682015324,68.22397846919185],[56.761003637268544,47.05236683978569],[78.68609462069102,56.81404627360476],[68.1206380771736,79.47174094952103],[44.751992873395196,68.07409113300514],[57.00973636636293,44.01691497991919],[81.73226896641293,57.16211873792404],[67.67278997926915,82.52609024496653],[41.69202786573595,67.52609024496658],[57.65820818794768,40.953903923201125],[84.79574726495333,57.91132037866365],[66.82265910945755,85.58744912086271],[38.63538164258614,66.57489040285733],[58.71055691487247,37.904568852742415],[87.83516871237069,59.06483793527128],[65.56801285574495,88.61435180702117],[35.62360421868958,65.21921574464605],[60.167099469633015,34.91052324782401],[90.80887719439221,60.622027635285484],[63.91045700578161,91.56512042441932],[32.69837433573119,63.4616349573471],[62.02430381841825,32.01342578772242],[93.67525503331892,62.57839408791828],[61.85544987992441,94.39819924131302],[29.901164838810306,61.30856842573529],[64.27478881491147,29.25464550279802],[96.3930579201371,64.92559712571256],[59.41228848922131,97.07248954624745],[27.272908004894187,58.77026739029866],[66.90735203919994,26.674927446757238],[98.92174875613458,67.65148663430645],[56.594066723628,99.54768286136496],[24.853663099834396,55.86076516511785],[69.90702553572879,24.31406116581011],[101.22182813009097,70.74016522889221],[53.417605757202125,101.78459022474925],[22.682288431676287,52.59780064767651],[73.25515917310085,22.210554227983202],[103.25515917310109,74.17207845504939],[49.903357037598184,103.74546529007634],[20.796120144873147,49.00271453282278],[76.92953116874034,20.401313049231362],[104.98528456324142,77.92413201237798],[46.07527840585894,105.39431902552292],[19.23065996285563,45.100318821111486],[80.90448514416883,18.92133321232945],[106.37773349645084,81.969835322871],[41.96068406814399,106.6972238414969],[18.01927403534587,40.9187403864838],[85.15109290289749,17.80340142002604],[107.4003164978945,86.27947059327684],[37.5900693125929,107.62260503803662],[17.19290498213474,36.489239538601105],[89.63734195381474,17.077811155911604],[108.02340601938911,90.82028635288742],[32.9969110309262,108.14151753736593],[16.77979914713983,31.84600468012932],[94.32834663950523,16.772094045381998],[108.22020085286016,95.55671428635856],[28.217445264654142,108.227905954618],[16.805250985927774,27.025924317809377],[99.18658157215735,16.910768815180873],[107.96697248663939,100.45060802611593],[23.29042314884119,107.85884615966864]]]}
    let polyline = turtle.path[0];
    const paths = polyline.map(([x, y]) => [x * 7, y * 7]);
    let i = 1;
    let j = 1;

    function lerp(x1, x2, t) {
      return x1 + (x2 - x1) * t;
    }

    function dist(x1, y1, x2, y2) {
      return Math.sqrt((x1-x2)**2 + (y1-y2)**2);
    }

    function draw() {
      if (i >= paths.length - 15) return;
      i += 5 / dist(paths[j - 1][0], paths[j - 1][1], paths[j][0], paths[j][1])
      j = Math.floor(i)
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      let [x, y] = paths[j];  
      if (j === 0) ctx.moveTo(x, y);
      else ctx.lineTo(lerp(paths[j-1][0], x, i - j), lerp(paths[j-1][1], y, i - j));
      ctx.stroke()
    }

    setInterval(
      () => {draw(i)}
    , 10);
  </script>

  <div class="banner">

    <div class="banner-upper">
      <div class="blot-title">Blot, a plotter bot from Hack Club</div>
    </div>

    <div class="banner-lower">
      <img class="blot-bot" style="min-width: 60%" src="/blot-bot-clear.png"/>
      <div class="banner-text">
        <div>
          Blot is a <a href="youshipweship.com">"You Ship, We Ship"</a> project from Hack Club. It's both a robot and an art project.
        </div>

        <br/>

        <div>
          We're creating an <a href="3dmaze">art gallery</a>. It's an endlessly explorable space filled with <a href="2dgallery">your art programs</a>. When you <a href="howtosubmit">submit your art</a> to the gallery we will send you a <a href="resourcesonmachine">drawing machine</a> to turn that art into a real physical piece.
        </div>

        <br/>

        <div>
          Together we'll practice the art of programming, dive into digital fabrication, and <a href="linktomuseumexhibit">build something amazing together</a>.
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <a class="toolbar-item footer-item" href="https://hackclub.com">
      <img 
        src="/hackclub.png"
        style="height: 51%;
    padding-right: 7px;
    filter: grayscale(1) contrast(200%);"/>
      Hack Club
    </a>
    <a class="toolbar-item footer-item" href="https://github.com/hackclub/haxidraw/tree/main">
      <i class="fa-brands fa-github" style="padding-right: .5rem"></i>
      GitHub
    </a>
  </div>
</main>




