---
import Layout from "../layouts/Layout.astro";
---

<script>
    // Basically in a nutshell: model of the model, maybe like a little diagram of special parts on it, little drawings here and there with links to the code,
</script>

<style is:global lang="scss">
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

        h1 {
            margin: 0;
            font-family: var(--font-serif);
            font-size: 7rem;
        }
    }
</style>

<Layout title="Blot" description="Blot out the world!">
    <header>
        <h1>blot</h1>
        <div id="model"></div>
    </header>
</Layout>
