---
import Layout from '../layouts/Layout.astro'

import Background from '../layouts/Background.astro'
import ThreeDModel from '../layouts/ThreeDModel.astro'

---


<style>
  :root {

  }

  html, body {
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px), linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: var(--font-sans);
  }

  .strong-header {
    font-size: 3.9rem;
    letter-spacing: -2px;
    font-weight: 600;
    line-height: 1;
  }

  .header-section {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 80%;
  }

  .sub-header {
    font-size: 3rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -1px;
    padding-top: 10px;
  }

  .header-text {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .lead-section {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .how-to {
    height: 500px;
    background: #ffc9c9;
    display: flex;
  }

  .video-text {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .youtube-video-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .youtube-video {
    aspect-ratio: 560/315;
    border: none;
    width: 90%;
  }

  .get-started {
    height: 500px;
    background: antiquewhite;
  }

  .disclaimer {
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  

</style>

<Layout title="Blot" description="Blot out the world!">
  <div class="lead-section">
    <div class="header-section strong-header">
      <div>Blot, the plotter bot</div>
      <div>from <a href="https://www.hackclub.com">Hack Club</a>.</div>
      <div class="sub-header">You* code art, we send you a machine.</div>
    </div>
    <!-- <ThreeDModel></ThreeDModel> -->
    <Background></Background>
    <div class="disclaimer">(*Must be a <20 years old to receive a free machine.)</div>
  </div>
  <div class="how-to header-text">
    <div class="video-text">
      <div>1) Learn to make generative art with our <a href="/guides">guides</a> and from the community.</div>
      <div>2) Make an original art piece.</div>
      <div>3) Submit it as a pull request to the art <a href="/gallery">gallery</a>.</div>
      <div>4) Get parts for your Blot in the mail and <a href="/assembly">build your own</a> machine.</div>
    </div>
    <div class="youtube-video-container">
      <!-- <iframe class="youtube-video" src="https://www.youtube.com/embed/yxvEO-wUz2g?si=jspPdOWhnDxh_VcR"></iframe> -->
    </div>
  </div>
  <div class="get-started header-text">
    Haven't programmed before? Don't worry you can get started here.
  </div>
</Layout>
