
<style>
  :root {
    --primary: #33e;
    --primary-rgb: 51, 51, 238;
    --text: #000;
    --text-rgb: 0, 0, 0;
    --background: #fff;
    --background-rgb: 255, 255, 255;
    --muted: #e5e5e5;
    --muted-rgb: 229, 229, 229;
    --accent: #f0f;
    --accent-rgb: 255, 0, 255;
    --accent-dark: #900090;
    --accent-dark-rgb: 144, 0, 144;
    --font-body: "Atkinson Hyperlegible", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-0: 1rem;
    --font-1: 1.125rem;
    --font-2: 1.25rem;
    --font-3: 1.5rem;
    --font-4: 2rem;
    --font-5: 3rem;
    --font-6: 4rem;
    --font-7: 6rem;
  }

  html, body {
    margin: 0px;
    font-family: var(--font-body);
  }

  .toolbar {
    background: var(--primary);
    color: white;
    padding: .1rem;
    display: flex;
    justify-content: space-between
  }

  .toolbar-right {
    display: flex;
  }

  .toolbar-item {
    all: unset;
    cursor: pointer;
    padding: .5rem;
    border-radius: .2rem;
  }

  .toolbar-item:hover {
    background: #4d82e3;
  }

  .toolbar-item:visited {
    all: unset;
  }

  .blot {
    display: flex;
    align-items: center;
    padding-left: .5rem;
  }

</style>


<div class="toolbar">
  <div class="blot">Blot</div>
  <div class="toolbar-right">
    <a class="toolbar-item" href="/editor">editor</a>

    <a class="toolbar-item">workshops</a>

    <a class="toolbar-item">gallery</a>

    <a class="toolbar-item">assembly</a>
  </div>
</div>




