---
import Layout from '../layouts/Layout.astro'
import Background from '../components/landing/Background.astro'
import CodeSnippet from '../components/landing/CodeSnippet.tsx'
import ThreeDModel from '../components/landing/3DModel.astro'
import EditorDemo from '../components/landing/EditorDemo.tsx'
import SVGScroll from '../components/landing/SVGScroll.astro'
import landingProgram from '../lib/examples/landingProgram'

export const prerender = true
---

<Layout navbar={true}>
  <style lang="scss" is:global>
    #navbar {
      position: sticky;
      top: 0;
    }

    header {
      box-shadow: inset 0 4px 8px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      width: 100%;
      padding: 2rem;
      overflow: hidden;
      text-align: center;

      h1 {
        font-size: 7rem;
        line-height: 1;
        letter-spacing: -4px;
        margin: 0;

        a {
          color: var(--primary);
          text-decoration: none;
        }
      }

      h2 {
        font-weight: normal;
      }

      .background {
        transform: scale(1.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 99;
        height: 100%;
      }
    }

    .background-blur {
      backdrop-filter: blur(2px);
    }

    #info {
      background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
        linear-gradient(to bottom, #ddd 1px, transparent 1px);
      background-size: 40px 40px;
      padding: 2rem;

      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    #info-grid {
      display: flex;
      flex-direction: column;

      > div {
        align-items: center;
        display: flex;
        gap: 2rem;

        img {
          max-width: 100%;
        }
      }
    }

    .info-grid-description {
      font-size: 1.3rem;

      h2 {
        line-height: 1.1;
        margin: 0;
      }

      p {
        margin-top: 0.5em;
      }
    }

    #steps {
      background-color: #f4f3fb;
      border-top: 1px solid #cbd5e1;
      padding: 2rem;

      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    #demo {
      display: flex;

      > div {
        flex: 50%;
      }
    }
  </style>

  <header>
    <div class="background">
      <Background />
    </div>
    <div class="content">
      <div>
        <h1 style={{ marginTop: '2rem' }}>Blot, the plotter bot</h1>
        <h1>
          from <a href="https://hackclub.com" target="_blank">Hack Club</a>
        </h1>
        <h2 class="background-blur">
          Write a program that creates art and we'll send you* a CNC machine
          that can draw it.
        </h2>
      </div>
      <div id="demo">
        <CodeSnippet client:only code={landingProgram} />
        <div id="three-js-model">
          <ThreeDModel client:load />
        </div>
      </div>
      <div style={{ alignSelf: 'flex-end' }}>
        <p
          class="background-blur"
          style={{ fontStyle: 'italic', fontWeight: 'bold' }}>
          Get a machine to draw it. (*Must be a teenager to receive a free
          machine.)
        </p>
      </div>
    </div>
  </header>
  <section id="info">
    <h1>We built everything from scratch, with love and open source.</h1>
    <div id="info-grid">
      <div>
        <EditorDemo client:only />
        <div class="info-grid-description">
          <h2>Custom editor for pen plotter art</h2>
          <p>
            with vector drawing library, direct manipulation widgets, a split
            screen code/visualizer, and direct from browser machine control.
          </p>
        </div>
      </div>
      <div style={{ maxWidth: '75vw', margin: 'auto', marginTop: '1.5rem' }}>
        <div class="info-grid-description">
          <h2>CNC you build yourself</h2>
          <p>
            made of six 3D printed parts, and standard DIY machine building
            design patterns (aluminum extrusion, delrin v-wheels, flanged
            bearing idlers...).
          </p>
        </div>
        <img style={{ maxWidth: '45vw' }} src="/landing/parts.png" />
      </div>
      <div style={{ maxWidth: '80vw', margin: 'auto' }}>
        <img src="/landing/control-board.png" style={{ maxWidth: '35vw' }} />
        <div class="info-grid-description">
          <h2>Custom control board and firmware</h2>
          <p>
            so you can understand what goes on in the brains of the machine.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="steps">
    <h1>How do I get a Blot?</h1>
    <SVGScroll />
  </section>
</Layout>
