---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { marked } from 'marked'

const workshops = await getCollection('workshops', ({ data }) => data)
---

<style is:global lang="scss">
  #container {
    margin: 2rem auto;
    width: 90vw;
  }

  #gallery {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .framed {
    flex: 50%;
    font-family: var(--font-serif);
    font-size: 0.995rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 2rem;
    float: left;
    max-width: 40vw;
    margin-bottom: 1rem;
    transition: all 0.1s;
    z-index: 1;

    .prose {
      padding: 1rem;

      code {
        font-family: 'Fira Code', monospace;
      }

      h2 {
        font-family: var(--font-sans);
      }
    }

    &:hover {
      transform: scale(101%);
    }

    .thumbnail {
      width: 100%;
    }

    .top-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .top-right {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }

    .bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(270deg);
    }

    .bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }

  #content {
    cursor: default;
    font-size: 1.5rem;
    font-family: var(--font-sans);

    &:hover {
      transform: none;
    }
  }
</style>

<Layout title="Workshops" description="Workshops">
  <div id="container">
    <div id="gallery">
      <div class="framed" id="content">
        <h1>Workshops</h1>
        <p>
          One of the best ways to get involved is by building and testing one of
          the machines. All you need is a 3D printer and a little bit of
          hardware outlined in the bill of materials.
        </p>
      </div>
      {
        workshops
          .sort((a, b) => (a.data.pinned ? -1 : b.data.pinned ? 1 : 0))
          .map(workshop => (
            <a class="framed" href={`/workshops/${workshop.slug}`}>
              <img class="thumbnail" src={workshop.data.thumbnail} />
              <div class="prose">
                <h2 style={{ marginBottom: 0 }}>{workshop.slug}</h2>
                <div set:html={marked(workshop.data.description)} />
              </div>
              <img class="top-left" src="/decorative-corner.png" />
              <img class="top-right" src="/decorative-corner.png" />
              <img class="bottom-left" src="/decorative-corner.png" />
              <img class="bottom-right" src="/decorative-corner.png" />
            </a>
          ))
      }
    </div>
  </div>
</Layout>
