---
import '../css/global.css'

import Navbar from '../components/Navbar.astro'

import StandardHead from '../components/standard-head.astro'

export interface Props {
  title: string | undefined
  description: string | undefined
  showNav: string | undefined
  
}

let { title, description, showNav } = Astro.props
showNav = showNav || 'true'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <StandardHead title={title}  description={description}/>
  </head>
  <body data-shownav={showNav}>
    <Navbar />
    <slot />
    <script client:load>
      const showNav = document.body.dataset.shownav
      if (showNav === 'true') document.querySelector('nav').style.opacity = 1
    </script>
  </body>
</html>
