.root {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
