.helpSection {
  color: black;
  position: relative;
}

.helpSectionToolbar {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  transform: translate(0, -100%);
  background: rgba(var(--primary-rgb), 0.89);
  border-radius: 0 10px 0 0;
  overflow: clip;
}

.helpSectionTab {
  padding: 6px 10px;
  color: white;
  cursor: pointer;
}

.helpSectionTab:hover {
  background: rgba(var(--primary-rgb), 0.89);
}

.helpContent {
  font-family: var(--font-serif);
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  overflow-x: clip;
  overflow-y: auto;
  height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    margin-bottom: 1.1rem;
  }

  a {
    color: var(--primary);
  }

  img {
    max-width: 100%;
  }

  code {
    font-size: 0.995rem;
    font-family: var(--font-mono);
  }

  hr {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    border: 0;
  }
}

body[data-theme='Dark'] {
  .helpContent {
    color: white;

    a {
      color: white;
    }

    hr {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}
