.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.inner {
    display: flex;
    flex: 1;
    min-height: 0;
    position: relative;
}

.editor {
    flex: 1;
    min-width: 0;
}

.right {
    width: min(800px, max(400px, 50%));
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}
.right > *:first-child {
    flex: 1;
    overflow-x: auto; /* fix resizing the canvas */
}

.bezierTest {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
}