.helpSection {
  color: black;
  position: relative;
  font-family: var(--font-sans);
}
body[data-theme='dark'] .helpSectionTab{
  background-color:var(--primary-dark);
}
body[data-theme='dark'] .helpSectionTab:hover {
  background:rgba(15, 57, 77, 0.89);
}
.helpSectionToolbar {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  transform: translate(0, -100%);
  background: rgba(var(--primary-rgb), 0.89);
  border-radius: 0 10px 0 0;
  overflow: clip;
}

a{
  box-sizing: border-box; 
  margin: 0; 
  min-width: 0; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  color: #DC2626; 
  text-decoration: underline; 
  cursor: pointer; 
}
a:hover {
  text-decoration-style: wavy; 
}
.helpSectionTab {
  padding: 6px 10px;
  color: white;
  cursor: pointer;
}

.helpSectionTab:hover {
  background: rgba(var(--primary-rgb), 0.89);
}

.helpContent {
  font-family: var(--font-serif);
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
  padding: 1.5rem;
  overflow-x: clip;
  overflow-y: auto;
  height: 100%;
}


.helpContent > :nth-child(1) {
  margin-top: 0;
}

.helpContent a {
  /* color: var(--primary); */
  transition: opacity 0.2s;
}

.helpContent a:hover {
  opacity: 0.8;
}

.helpContent img {
  display: block;
  margin-top: 1.1rem;
  max-width: 100%;
}

.helpContent code,
.helpContent pre {
  font-size: 0.995rem;
  font-family: var(--font-mono);
}

.helpContent li p {
  margin: 0;
}

.helpContent pre {
  background: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  color: rgb(31 41 55);
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */

}
.h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  color: rgb(31 41 55);
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */

}
.h3 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  color: rgb(31 41 55);
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */

}
body[data-theme='dark'] h1,body[data-theme='dark'] .h2,body[data-theme='dark'] .h3{
  filter: invert(1)
}


body[data-theme='dark'] .helpContent {
  background-color: var(--primary-dark-grey);
  color: white;
}

body[data-theme='dark'] .helpContent a {
  color: white;
}
body[data-theme='dark'] .helpContent pre {
  background-color: rgba(32,32,32,255);
}

body[data-theme='dark'] .helpContent hr {
  background-color: rgba(32, 32, 32, 0.25);
}

body[data-theme='dark'] .helpContent img {
  background-color: white;
}
body[data-theme='dark'] .helpContent code {
  background: rgba(32,32,32,255);
}


.helpContent p {
  margin-top: 1em;
  margin-bottom: 1em;
}
