.thumb {
    cursor: pointer;
    max-width: min(100%, var(--thumb-width));
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.2s ease-in-out;
    padding: 1rem;
}

.overlay img {
    object-fit: contain;
    position: relative !important;
    width: calc((100vh - 2rem) * var(--aspect-ratio)) !important;
}

.exiting {
    animation: fadeOut 0.2s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}