.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form {
  background-color: white;
  background-size: 40px 40px;
  margin: 0 auto;

  > div {
    display: flex;
    width: 100%;
  }

  button,
  input {
    padding: 7px 9px;
  }

  input {
    border: 1px solid var(--primary);
    border-right: 0;
    font-family: inherit;
    font-size: inherit;
  }
}
