---
import '../../../css/global.css'
import { slug } from '../../../lib/utils/guide'
import { getSession, getSnapshotData } from '../../../db/account'
import { mobileUserAgent } from '../../../lib/utils/mobile'
import { signal } from '@preact/signals'

let toolkit = (await Astro.glob('/../docs/TOOLKIT.md'))[0].compiledContent()

// Check if logged in
const session = await getSession(Astro.cookies)
const loggedIn = session && session.session.full

const snapshotData = await getSnapshotData(Astro.params.snapshotId!)
if (!snapshotData) return Astro.redirect('/404', 302)

const persistenceState = signal<PersistenceState>({
  kind: 'SHARED',
  name: snapshotData.name,
  authorName: snapshotData.ownerName,
  code: snapshotData.code,
  stale: false,
  session
})

console.log(persistenceState.value)

// Check if on mobile
const isMobile = mobileUserAgent(Astro.request.headers.get('user-agent') ?? '')

export const prerender = false
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Blot editor!" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Prism CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css"
      rel="stylesheet"
    />
    <!-- Prism JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"
    ></script>
  </head>
  <body>
    <main></main>
    <script
      define:vars={{
        toolkit,
        loggedIn,
        source: persistenceState.value.code,
        persistenceState
      }}
    >
      window.getToolkit = () => toolkit
      window.getLoggedIn = () => loggedIn
      window.getSrc = () => source
      window.getPersistenceState = () => persistenceState
    </script>
    <script src="../../../lib/initApp.js"></script>
  </body>
</html>
