---
import '../css/global.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Blot editor!" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>Blot</title>
  </head>
  <body>
    <main></main>
    <script src="../lib/initApp.js"></script>
  </body>
</html>
