.root {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.inner {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

.right {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;

  > *:first-child {
    flex: 1;
    overflow-x: auto;
  }
}

.vertBar {
  width: 1px;
  background: #eee;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 10;
  transform: translate(-50%, 0);

  &:hover {
    width: 8px;
    background: #eee;
    cursor: col-resize;
  }
}

.horizBar {
  height: 1px;
  background: #eee;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9;
  transform: translate(0, -50%);

  &:hover {
    height: 8px;
    background: #eee;
    cursor: row-resize;
  }
}

.helpSection {
  overflow-y: auto;
}

.helpSectionToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary);

  h1 {
    color: white;
    font-size: inherit;
    margin-left: 12px;
  }
}

.helpSectionTab {
  padding: 3px 5px;
  margin: 6px 4px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  background: #f0f2f3;

  &:hover {
    opacity: 0.9;
  }
}

body[data-theme='dark'] {
  .prose {
    color: white;

    a {
      color: white;
    }
  }

  .vertBar,
  .horizBar {
    background: #404040;

    &:hover {
      background: #404040;
    }
  }
}
