.root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--text);
}

.canvas {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
  overflow-x: auto; /* fix resizing the canvas */
}

.mousePosition {
  border-top-left-radius: 0.25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.125rem 0.25rem;
  background-color: rgba(var(--primary-rgb), 0.3);
  font-size: 0.8rem;
  font-family: var(--font-mono);
  white-space: pre;
  color: var(--text);
}

.mousePosition:empty {
  display: none;
}

.centerButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(200, 200, 200, 0.9);
}

body[data-theme='dark'] .mousePosition {
  color: white;
}

body[data-theme='dark'] .canvas {
  background-color: #d1cdca;
  filter: invert(1);
}

body[data-theme='dark'] .centerButton {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
}

.centerButton:hover {
  background-color: rgba(200, 200, 200, 1);
}
