.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.inner {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

.right {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.right > *:first-child {
  flex: 1;
  overflow-x: auto; /* fix resizing the canvas */
}

.vertBar {
  width: 1px;
  background: #eee;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 10;
  transform: translate(-50%, 0);

  &:hover {
    width: 8px;
    background: #eee;
    cursor: col-resize;
  }

  @media (prefers-color-scheme: dark) {
    background: #404040;

    &:hover {
      background: #404040;
    }
  }
}

.helpSection {
  overflow-y: auto;
}

.prose {
  font-family: var(--font-serif);
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  overflow-x: clip;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    margin-bottom: 1.1rem;
  }

  a {
    color: var(--primary);
  }

  img {
    max-width: 100%;
  }

  code {
    font-size: 0.995rem;
    font-family: var(--font-mono);
  }

  @media (prefers-color-scheme: dark) {
    color: white;

    a {
      color: white;
    }
  }
}

.helpSectionToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary);

  h1 {
    color: white;
    font-size: inherit;
    margin-left: 12px;
  }
}

.helpSectionTab {
  padding: 3px 5px;
  margin: 6px 4px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  background: #f0f2f3;
}

.helpSectionTab:hover {
  opacity: 0.9;
}
