name: "Label Art Submissions"
on:
- pull_request_target
- workflow_dispatch

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5